body {
    font-family: monospace;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.dashboard-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    margin-bottom: 20px;
    font-size: 20px;
}

a, 
.btn-submit {
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
}

a:hover,
.btn-submit:hover  {
    background-color: #45a049;
    cursor: pointer;
}
